<form action="/members/<%= @member.id %>" method="post">

<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name" value=" <%= @member.first_name %>">
<br>
<br>
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name" value="<%= @member.last_name%>">
<br>
<input type="submit" value="Update Member Information">
</form>
