<p>All Members</p>

<form action="/members/new" method="GET"><input type="submit" value="create new member"></form>

<table>
  <tr>
    <th>Member</th>
    </tr>

<% @members.each do |member| %>

<tr>
  <td>
  <a href="/members/<%= member.id%>"><%= member.format_name%></a>
  </td>
  </tr>

<% end %>
</table>
