<form action="/members" method="post">

<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name">
<br>
<br>
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name">

<input type="submit" value="Create new member">
</form>
