<form action="/members" method="post">
<fieldset>
<label for="first-name">First Name:</label>
<input id="first-name" type="text" name="first_name">
</fieldset>
<br>
<br>
<fieldset>
<label for="last-name">Last Name:</label>
<input id="last-name" type="text" name="last_name">
</fieldset>

<input type="submit" value="Create new member">
</form>
