p,
body{
  background-color: GhostWhite;
}

p{
  font-family: Metrophobic;
  font-size: 40px;
  text-decoration: underline;
  text-align: center;
  color: RebeccaPurple;
}



table, th, td{
  font-family: Metrophobic;
  font-size: 25px;
  border: 1px solid black;
  border-color: RebeccaPurple;
}
