<p>All Bookings</p>

<form action="/bookings/new" method="GET"><input type="submit" value="create new booking"></form>

<table>
<tr>
  <th>Member</th>
  <th>Session Attending</th>
  <th>Delete Booking</th>
</tr>

<% @bookings.each do |booking| %>

<tr>
  <td> <%= booking.member.format_name%> </td>
  <td> <%= booking.session.session_name%> </td>
  <td>
  <form action="/bookings/<%= booking.id %>/delete" method="POST">
    <input type="submit" value="delete booking" />
  </form>
  </td>
</tr>

<% end %>
</table>
