<form action="/sessions/<%= @session.id %>" method="post">

<fieldset>
<label for="session-name">Session Name:</label>
<input id="session-name" type="text" name="session_name" value=" <%= @session.session_name %>">
</fieldset>
<br>
<br>
<br>
<input type="submit" value="Update Session Information">
</form>
