<p>All Sessions</p>

<form action="/sessions/new" method="GET"><input type="submit" value="create new session"></form>

<table>
  <tr>
    <th>Session Name</th>
    <th>Session Date + Time</th>
    </tr>

<% @sessions.each do |session| %>

<tr>
<td>  <a href="/sessions/<%= session.id%>"><%= session.session_name%></a></td>
<td><%= session.session_datetime%></td>
</tr>

<% end %>
</table>
