<form action="/sessions" method="post">

<label for="session-name">Session Name:</label>
<input id="session-name" type="text" name="session_name">
<br>
<br>
<label for="session-time">Session Time:</label>
<input id="session-time" type="text" name="session_time">

<input type="submit" value="Create new session">
</form>
