<form action="/sessions/chooseinstructor/" method="get">

<label for="session-name">Session Name:</label>
<input id="session-name" type="text" name="session_name">
<br>
<label for="capacity">Capacity:</label><input id="capacity" type="text" name="capacity">
<br>
<br>
<br>
<label for="session-datetime">Session Time and Date:</label>
<input id="session-datetime" type="datetime-local" name="session_datetime">
<input type="submit" value="input date/time">

<br>
<br>

</form>
