<form action="/instructors/<%= @instructor.id %>" method="post">
<fieldset>
<label for="name">Name:</label>
<input id="name" type="text" name="name" value=" <%= @instructor.name %>">
</fieldset>
<br>
<br>

<input type="submit" value="Update Instructor Information">
</form>
