<p>All Instructors</p>

<form action="/instructors/new" method="GET"><input type="submit" value="create new instructor"></form>

<table>
  <tr>
    <th>Member</th>
    </tr>

<% @instructors.each do |instructor| %>

<tr>
  <td>
  <a href="/instructors/<%= instructor.id%>"><%= instructor.name%></a>
</td>
</tr>

<% end %>
</table>
