<form action="/instructors" method="post">
<fieldset>
<label for="name">Name:</label>
<input id="name" type="text" name="name">
</fieldset>
<br>
<br>


<input type="submit" value="Create New Instructor">
</form>
